body{
    background: #1761a0;
    font-family: ubuntu;
}

.topnav {
    overflow: hidden;
    background-color:#222021;
}

.topnav a {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #1761a0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #1761a0;
    color: #222021;
}

.topnav-right {
    float: right;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.content{
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #222021;
    position: relative;
    border-bottom: 1px solid #1761a0;
    height: 46px;
}

li:nth-child(even){
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: gray;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: #1761a0;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #1761a0;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #1761a0;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #2c292b;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 1px;
    color: #1761a0;
}
