body, ul, li, h1, h2, a{
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

body{
  background-color: blue;
}
header{
  background-color: blue;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

header h1{
  font-style: Georgia, serif;
  color: gold;
  border: 8px solid gold;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 10px;
}

.banner{
  position: relative;
}

.banner img{
  max-width: 100%;
}

.banner .welcome{
  background-color: blue;
  color: gold;
  padding: 30px;
  position: absolute;
  right: 10%;
  top: 40%;
}

.banner h2{
  font-size: 30px;
}

.banner h2 span{
  font-size: 1.3em;
}

nav{
  background-color: gold;
  padding: 20px;
  position: sticky;
  top: 104px;
}

nav li{
  width: 25%;
  display: inline-block;
  font-size: 24px;
}

nav ul{
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li a{
  text-decoration: none;
  color: black;
}

main{
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}

article h2{
  color: gold;
  font-size: 48px;
}

article p{
  line-height: 2em;
  color: white;
}

.images{
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}

.images li{
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
}

.images li img{
  max-width: 100%;
}

section.feedback{
  background: blue;
  text-align: center;
  padding: 90px 20px;
  color: white;
}

.feedback h2{
  font-size: 36px;
}

footer{
  background: gold;
  color: black;
  padding: 10px;
  text-align: center;
}
